---
import Layout from '../../layouts/Layout.astro';
import '@fontsource-variable/rubik';

---

<Layout title='Anime by season'>
  <main class="xl:max-w-[70%] xs:max-w-[90%] max-w-[94%] mx-auto   ">
    <div>test</div>

  </main>
</Layout>